.collapses-horizontal {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 2rem;
  flex-wrap: wrap;

  > div {
    flex: 1;
  }

  // 🎯 Responsive mobile
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px; // Moins d'espace entre les éléments

    > div {
      width: 100%;
    }
  }
}
