.banner {
  max-width: 1240px;
  margin: 2rem auto; // centre le banner horizontalement
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%; // prend toute la largeur du banner
    height: 223px;
    object-fit: cover;
    display: block;
  }

  h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  position: relative;
}
