.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
